.journalEntry {
  background-color:whitesmoke;
  border-radius: 1rem;
  
}
.importedEntries {
  flex-direction: column;
  display: flex;
}
.journalContentRight {
  margin: 10px;
  
}

.journalContentLeft {
  margin: 10px;
}

.journalEntry {
  display: flex;
  margin: 15px;
  justify-content: space-between;
}

.journalEntry__date {
  margin: 5px;
}

.journalEntry__instructor {
  margin: 5px;
}

.journalEntry__concepts {
  margin: 5px;
}

.journalEntry__text {
  margin: 5px;
}
.journalEntry__author {
  margin: 5px;
}

.journalEntry__mood {
  margin: 5px;
}