.entryFormContainer {
  background-color:  rgb(48, 250, 172);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: black solid 5px;
  border-radius: 2rem;
  display: flex;
  padding: 1rem;
  }

  .entryForm {
    
  }
  
  .formField {
   border-radius: .5rem;
   border: none;
   margin: .5rem;
   display: flex;
   flex-direction: column;
  }

  .submit--button {
    
  }